build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

external/

*.o
*.obj
*.lo
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out

.vscode/
.idea/
*.code-workspace

.DS_Store
*.log
*.tmp
*.bak
*.swp
